In [9]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:
df_test = pd.read_csv('https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/test.csv')
df_train = pd.read_csv('https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/train.csv')

In [11]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
X = df_train

In [13]:
feats = ['Pclass']
X = df_train[feats].values
Y = df_train['Survived'].values

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

In [15]:
model = DecisionTreeClassifier(max_depth=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.6492537313432836

In [16]:
model = RandomForestClassifier(max_depth=30, n_estimators=50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.6492537313432836

In [17]:
df_train['Sex_cat'] = df_train['Sex'].factorize()[0]

In [18]:
feats = ['Pclass', 'Sex_cat', 'Fare']
X = df_train[feats].values
Y = df_train['Survived'].values
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

model = RandomForestClassifier(max_depth=30, n_estimators=50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7723880597014925

In [ ]:
from sklearn.dummy import DummyClassifier

feats = ['Pclass']
X = df_train[feats].values
model = DummyClassifier()
model.fit(X, Y)
y_pred = model.predict(X)

score = accuracy_score(Y, y_pred)
print("score: %.2f" % score)